In [16]:
#Importing Libraries
import pandas as pd
import numpy as np

df = pd.read_csv("./data/Hotel_Reviews.csv")

df= df.drop(['Review_Date','Review_Total_Negative_Word_Counts','Review_Total_Positive_Word_Counts','days_since_review','Additional_Number_of_Scoring','Total_Number_of_Reviews_Reviewer_Has_Given','Positive_Review','Negative_Review','Reviewer_Nationality','Reviewer_Score'], axis=1)
uniqueHotelsDF = df.drop_duplicates(subset=['Hotel_Name'])
uniqueHotelsDF=uniqueHotelsDF.drop(['Tags','Hotel_Address'],axis=1)
uniqueHotelsDF['lat'].fillna(0, inplace=True)
uniqueHotelsDF['lng'].fillna(0, inplace=True)
#uniqueHotelsDF

In [17]:
hotelLeisureCounts = df[df['Tags'].str.contains('Leisure')].groupby('Hotel_Name')['Hotel_Name'].count().sort_values(ascending=False)
print "BusinessCounts: ", len(hotelLeisureCounts)
#print(hotelLeisureCounts)

hotelBusinessCounts = df[df['Tags'].str.contains('Business')].groupby('Hotel_Name')['Hotel_Name'].count().sort_values(ascending=False)
print "Leisure Counts: ",len(hotelBusinessCounts)
#print(hotelBusinessCounts)

hotelSoloCounts = df[df['Tags'].str.contains('Solo')].groupby('Hotel_Name')['Hotel_Name'].count().sort_values(ascending=False)
print "Solo Traveller Counts: ",len(hotelSoloCounts)

hotelCoupleCounts = df[df['Tags'].str.contains('Couple')].groupby('Hotel_Name')['Hotel_Name'].count().sort_values(ascending=False)
print "Solo Couple Counts: ",len(hotelCoupleCounts)

hotelGroupCounts = df[df['Tags'].str.contains('Group')].groupby('Hotel_Name')['Hotel_Name'].count().sort_values(ascending=False)
print "Solo Group Counts: ",len(hotelGroupCounts)

BusinessCounts:  1492
Leisure Counts:  1488
Solo Traveller Counts:  1491
Solo Couple Counts:  1492
Solo Group Counts:  1481

In [18]:
uniqueHotelsDF.loc[:,'Business']=0;
uniqueHotelsDF.loc[:,'Leisure']=0;
uniqueHotelsDF.loc[:,'Solo']=0;
uniqueHotelsDF.loc[:,'Couple']=0;
uniqueHotelsDF.loc[:,'Group']=0;
#uniqueHotelsDF

In [19]:
uniqueHotels=uniqueHotelsDF['Hotel_Name'].tolist()
for hotel in uniqueHotels:
    indx=uniqueHotelsDF.index[uniqueHotelsDF['Hotel_Name'] == hotel]
    #Update Trip type columns
    if hotel in hotelBusinessCounts and hotel in hotelLeisureCounts:
        if hotelLeisureCounts[hotel] > hotelBusinessCounts[hotel]:
            uniqueHotelsDF.loc[indx, 'Leisure'] = 1
        elif hotelLeisureCounts[hotel] < hotelBusinessCounts[hotel]:
            uniqueHotelsDF.loc[indx, 'Business'] = 1
        else:
            uniqueHotelsDF.loc[indx, 'Leisure'] = 1
            uniqueHotelsDF.loc[indx, 'Business'] = 1
    elif hotel in hotelBusinessCounts and hotel not in hotelLeisureCounts:
        uniqueHotelsDF.loc[indx, 'Business'] = 1
    elif hotel in hotelLeisureCounts and hotel not in hotelBusinessCounts:
        #print ("no business tag reviews for: ",hotel)
        uniqueHotelsDF.loc[indx, 'Leisure'] = 1
        
    #Update Traveller type columns
    #print hotelCoupleCounts['Best Western Amiral Hotel']
    if hotel in hotelSoloCounts and hotel in hotelCoupleCounts and hotel in hotelGroupCounts:
        soloCount=hotelSoloCounts[hotel]
        coupleCount=hotelCoupleCounts[hotel]
        groupCount=hotelGroupCounts[hotel]

        if soloCount>coupleCount and soloCount>groupCount:
            uniqueHotelsDF.loc[indx, 'Solo'] = 1
        elif coupleCount>soloCount and coupleCount>groupCount:
            uniqueHotelsDF.loc[indx, 'Couple'] = 1
        elif groupCount>soloCount and groupCount>coupleCount:
            uniqueHotelsDF.loc[indx, 'Group'] = 1
        elif soloCount==coupleCount and soloCount>groupCount:
            uniqueHotelsDF.loc[indx, 'Solo'] = 1
            uniqueHotelsDF.loc[indx, 'Couple'] = 1
        elif soloCount==groupCount and soloCount>coupleCount:
            uniqueHotelsDF.loc[indx, 'Solo'] = 1
            uniqueHotelsDF.loc[indx, 'Group'] = 1
        elif coupleCount==groupCount and coupleCount>soloCount:
            uniqueHotelsDF.loc[indx, 'Couple'] = 1
            uniqueHotelsDF.loc[indx, 'Group'] = 1
        else:
            uniqueHotelsDF.loc[indx, 'Solo'] = 1
            uniqueHotelsDF.loc[indx, 'Couple'] = 1
            uniqueHotelsDF.loc[indx, 'Group'] = 1
    
uniqueHotelsDF

,Average_Score,Hotel_Name,Total_Number_of_Reviews,lat,lng,Business,Leisure,Solo,Couple,Group
0,7.7,Hotel Arena,1403,52.360576,4.915968,0,1,0,1,0
405,8.5,K K Hotel George,1831,51.491888,-0.194971,0,1,0,1,0
971,9.2,Apex Temple Court Hotel,2619,51.513734,-0.108751,0,1,0,1,0
2008,7.7,The Park Grand London Paddington,4380,51.514218,-0.180903,0,1,0,1,0
3778,8.4,Monhotel Lounge SPA,171,48.874348,2.289733,0,1,0,1,0
3813,7.2,Kube Hotel Ice Bar,197,48.886570,2.358833,0,1,0,1,0
3832,8.0,The Principal London,3150,51.522622,-0.125160,0,1,0,1,0
5257,8.4,Park Plaza County Hall London,6117,51.501400,-0.116009,0,1,0,1,0
7480,9.2,One Aldwych,259,51.511783,-0.119417,0,1,0,1,0
7616,8.9,Splendid Etoile,486,48.874707,2.293676,0,1,0,1,0
7743,8.2,Hotel Trianon Rive Gauche,967,48.848768,2.341038,0,1,0,1,0
7961,8.5,InterContinental London Park Lane,510,51.503863,-0.150413,0,1,0,1,0
8121,7.4,Novotel Suites Paris Nord 18 me,1082,48.901594,2.359778,0,1,0,1,0
8301,7.7,Grand Royale London Hyde Park,6539,51.510995,-0.186342,0,1,0,1,0
11259,9.5,Milestone Hotel Kensington,209,51.502043,-0.186654,0,1,0,1,0
11345,8.1,Crowne Plaza London Kings Cross,2312,51.526385,-0.113604,0,1,0,1,0
12352,8.9,Select Hotel,1145,48.848305,2.342560,0,1,0,1,0
12608,8.7,H tel De Vend me,425,48.866856,2.328634,0,1,0,1,0
12697,8.7,Pullman Paris Centre Bercy,1382,48.831520,2.387080,0,1,0,1,0
12921,8.2,Gardette Park Hotel,1011,48.861027,2.378897,0,1,0,1,0
13100,8.6,Hotel Panache,371,48.873254,2.343239,0,1,0,1,0
13182,7.7,H tel des Ducs D Anjou,552,48.859823,2.347111,0,1,1,0,0
13290,8.6,Hotel Scribe Paris Opera by Sofitel,705,48.870418,2.329683,0,1,0,1,0
13425,8.3,Novotel London West,2443,51.491959,-0.220096,0,1,0,1,0
14708,9.6,Haymarket Hotel,255,51.508460,-0.131138,0,1,0,1,0
14829,9.4,Intercontinental London The O2,4204,51.502435,-0.000250,0,1,0,1,0
17380,8.6,H tel Juliana Paris,577,48.861937,2.304030,0,1,0,1,0
17549,8.9,Hotel L Antoine,796,48.852422,2.374383,0,1,0,1,0
17720,7.7,Belfast,337,48.875644,2.293879,0,1,1,0,0
17806,9.3,Shangri La Hotel Paris,174,48.863714,2.293476,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...
499054,7.8,Acevi Villarroel,2251,41.385378,2.156723,0,1,0,1,0
499406,8.5,Hotel Arkadenhof,217,48.230701,16.355219,1,0,1,0,0
499434,8.0,Hotel Vondel Amsterdam,1952,52.362566,4.877922,0,1,0,1,0
499956,8.0,Hotel Pension Baron am Schottentor,1315,0.000000,0.000000,0,1,0,1,0
500179,7.8,Hotel Atlanta,2724,0.000000,0.000000,0,1,0,1,0
500568,8.6,Park Inn by Radisson Uno City Vienna,2341,48.234080,16.421009,0,1,0,1,0
500929,8.4,NH Danube City,1380,48.235379,16.421974,1,0,1,0,0
501153,9.1,Strandhotel Alte Donau,216,48.239002,16.429233,1,0,0,1,0
501194,8.6,ARCOTEL Kaiserwasser Superior,1257,48.231915,16.417026,0,1,1,0,0
501337,8.5,Mercure Hotel Raphael Wien,1264,48.191929,16.339139,0,1,0,1,0
501488,8.2,Arthotel ANA Boutique Six,3498,48.194191,16.346258,0,1,0,1,0
501878,8.8,Austria Trend Hotel Anatol Wien,1324,48.194577,16.346356,0,1,0,1,0
502028,9.2,Hotel Kaiserin Elisabeth,1772,48.207235,16.372238,0,1,0,1,0
502416,8.4,Boutique Hotel Notting Hill,2085,52.358382,4.898878,0,1,0,1,0
503073,8.5,Crowne Plaza London Ealing,944,51.540394,-0.369758,0,1,0,1,0
503486,8.1,Good Hotel London,1018,51.508420,0.025322,0,1,0,1,0
504027,8.7,Park Plaza Westminster Bridge London,12158,51.500961,-0.116591,0,1,0,1,0
508196,8.4,Hotel du Vin Cannizaro House Wimbledon,476,51.424241,-0.229350,0,1,0,1,0
508485,8.3,Amsterdam Canal Residence,255,52.359478,4.895853,0,1,0,1,0
508552,8.4,Thistle Trafalgar Square The Royal Trafalgar,1193,51.509133,-0.130189,0,1,0,1,0
509019,9.4,Corinthia Hotel London,520,51.504558,-0.126258,0,1,0,1,0
509232,8.7,The Student Hotel Amsterdam City,7656,52.354665,4.913164,0,1,0,1,0
510808,8.3,Hotel Prinz Eugen,3308,48.187726,16.378145,0,1,0,1,0
511319,8.8,Hotel Erzherzog Rainer,3598,48.195323,16.367288,0,1,0,1,0
511920,8.1,Das Triest Hotel,275,48.197404,16.367300,0,1,0,1,0
511962,8.0,Suite Hotel 900 m zur Oper,3461,48.193523,16.366915,0,1,1,0,0
512401,8.9,Hotel Amadeus,717,48.210447,16.371578,0,1,1,0,0
512545,9.1,The Berkeley,232,51.502091,-0.157780,0,1,0,1,0
512645,7.8,Holiday Inn London Kensington,5945,51.499981,-0.192879,0,1,0,1,0
515413,8.1,Atlantis Hotel Vienna,2823,48.203745,16.335677,0,1,0,1,0

In [20]:
uniqueHotelsDF=uniqueHotelsDF.reset_index()

In [21]:
processedHotelsDF=pd.DataFrame(uniqueHotelsDF)
processedHotelsDF = processedHotelsDF.drop(['index','Hotel_Name'],axis=1)
from sklearn.metrics.pairwise import cosine_similarity, linear_kernel
similarityDF=cosine_similarity(processedHotelsDF,processedHotelsDF)
similarityDF = pd.DataFrame(similarityDF)
#processedHotelsDF

In [22]:
titles = uniqueHotelsDF['Hotel_Name']
indices = pd.Series(uniqueHotelsDF.index, index=uniqueHotelsDF['Hotel_Name'])
#similarityDF

In [23]:
def get_recommendations(title):
    idx = indices[title]
    #print 'dix=',idx
    sim_scores = list(enumerate(similarityDF[idx]))
    #print 'sim_score',sim_scores.shape
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:31]
    movie_indices = [i[0] for i in sim_scores]
    return titles.iloc[movie_indices]

In [24]:
get_recommendations('Milestone Hotel Kensington').head(10)

469                           Dukes Hotel
141       London Marriott Hotel Park Lane
226                      The Pillar Hotel
672    Mandarin Oriental Hyde Park London
152                            The Goring
302                  The Kings Head Hotel
89                        Marlin Waterloo
191                         Egerton House
34                        Hotel Le 10 BIS
555           H tel Barri re Le Fouquet s
Name: Hotel_Name, dtype: object

In [25]:
y = processedHotelsDF['Average_Score'].values
X = processedHotelsDF.drop('Average_Score',axis=1).values
#Appliyng XGBoost to our data
from sklearn.model_selection import train_test_split
import xgboost as xgb
X_train ,X_test ,y_train ,y_test = train_test_split(X,y ,test_size=0.2 ,random_state = 20)

from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)
xg_train = xgb.DMatrix(X_train, label=y_train)
xg_test = xgb.DMatrix(X_test, label=y_test)

In [14]:
param = {}
#Using gamma regression 
param['objective'] = 'reg:gamma'
param['eta'] = 0.2
param['max_depth'] = 4
param['silent'] = 1
param['nthread'] = 4
watchlist = [(xg_train, 'train'), (xg_test, 'test')]
num_round = 25

bst = xgb.train(param, xg_train, num_round, watchlist)
pred = bst.predict(xg_test)

[0]	train-gamma-nloglik:13.504	test-gamma-nloglik:13.608
[1]	train-gamma-nloglik:11.3154	test-gamma-nloglik:11.4017
[2]	train-gamma-nloglik:9.55447	test-gamma-nloglik:9.62638
[3]	train-gamma-nloglik:8.14272	test-gamma-nloglik:8.20283
[4]	train-gamma-nloglik:7.01566	test-gamma-nloglik:7.06611
[5]	train-gamma-nloglik:6.12034	test-gamma-nloglik:6.16287
[6]	train-gamma-nloglik:5.41321	test-gamma-nloglik:5.44927
[7]	train-gamma-nloglik:4.85844	test-gamma-nloglik:4.8892
[8]	train-gamma-nloglik:4.42653	test-gamma-nloglik:4.45296
[9]	train-gamma-nloglik:4.09317	test-gamma-nloglik:4.11606
[10]	train-gamma-nloglik:3.83835	test-gamma-nloglik:3.85835
[11]	train-gamma-nloglik:3.64564	test-gamma-nloglik:3.66328
[12]	train-gamma-nloglik:3.50156	test-gamma-nloglik:3.51727
[13]	train-gamma-nloglik:3.39515	test-gamma-nloglik:3.40929
[14]	train-gamma-nloglik:3.31755	test-gamma-nloglik:3.33041
[15]	train-gamma-nloglik:3.26168	test-gamma-nloglik:3.2735
[16]	train-gamma-nloglik:3.22197	test-gamma-nloglik:3.23294
[17]	train-gamma-nloglik:3.19408	test-gamma-nloglik:3.20441
[18]	train-gamma-nloglik:3.17473	test-gamma-nloglik:3.18456
[19]	train-gamma-nloglik:3.16143	test-gamma-nloglik:3.17089
[20]	train-gamma-nloglik:3.15237	test-gamma-nloglik:3.16145
[21]	train-gamma-nloglik:3.14626	test-gamma-nloglik:3.15511
[22]	train-gamma-nloglik:3.14217	test-gamma-nloglik:3.15083
[23]	train-gamma-nloglik:3.13944	test-gamma-nloglik:3.14795
[24]	train-gamma-nloglik:3.13761	test-gamma-nloglik:3.14601

In [15]:
#Calculating Error
error = pred - y_test
error = abs(error)
error_rate = np.mean(error)/np.mean(y_test)
print("error rate = %f " %error_rate )

error rate = 0.090558